<?php
/**
 * As configurações básicas do WordPress
 *
 * O script de criação wp-config.php usa esse arquivo durante a instalação.
 * Você não precisa usar o site, você pode copiar este arquivo
 * para "wp-config.php" e preencher os valores.
 *
 * Este arquivo contém as seguintes configurações:
 *
 * * Configurações do banco de dados
 * * Chaves secretas
 * * Prefixo do banco de dados
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** Configurações do banco de dados - Você pode pegar estas informações com o serviço de hospedagem ** //
/** O nome do banco de dados do WordPress */
define( 'DB_NAME', "{{ db_name }}" );

/** Usuário do banco de dados MySQL */
define( 'DB_USER', "{{ db_user }}");

/** Senha do banco de dados MySQL */
define( 'DB_PASSWORD', "{{ db_password }}");

/** Nome do host do MySQL */
define( 'DB_HOST', "{{ db_host }}");

/** Charset do banco de dados a ser usado na criação das tabelas. */
define( 'DB_CHARSET', 'utf8mb4' );

/** O tipo de Collate do banco de dados. Não altere isso se tiver dúvidas. */
define( 'DB_COLLATE', '' );

/**#@+
 * Chaves únicas de autenticação e salts.
 *
 * Altere cada chave para um frase única!
 * Você pode gerá-las
 * usando o {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org
 * secret-key service}
 * Você pode alterá-las a qualquer momento para invalidar quaisquer
 * cookies existentes. Isto irá forçar todos os
 * usuários a fazerem login novamente.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         '&3iiINM)=tA>?eSh0X=le/.owoBD(d{U%jbZkh*[Y$pOi+_G*Oed(}ZC47?=_?%d' );
define( 'SECURE_AUTH_KEY',  'A%qHvcosL0iS:q2#]TH(5]47^MhPSR;=Wch/%}W2TC!8o<5nIsL@<!_S#S!Mw%bI' );
define( 'LOGGED_IN_KEY',    'm90wU;#eid6vE{h>Z+/UZZ188V$WImV0N_mnH#H._ ]s*i-~,?5Xhg*CB+$n4PC!' );
define( 'NONCE_KEY',        'd7Vg#r MJO=P; 1s&DxOE}t1 6BbP|/hY,9qasi-)?=DNN*]Yw.~zQr&% a[h4PC' );
define( 'AUTH_SALT',        '827OF)9vtI=|j!6`&l6q]xFlc)kfUHYXXf(hyxJFBYhk0j:mWoZ&`Wl0JcH75aKd' );
define( 'SECURE_AUTH_SALT', 'dEl$X:hbibk$0aum@yI8t2:!CquPsRcrF7]8V9(aqiIb)B-p`mND[npl+WS,|t< ' );
define( 'LOGGED_IN_SALT',   'Tjr$|gy-~jKl:b,*1b17uihe%|^zq#f}la5I0aph,E;W&=F`wt?v4TN@_2XgyR+o' );
define( 'NONCE_SALT',       'ACtkh].Rd@c`07!`2J_P]fl,Q@45fTJb},VD/97Xpkb_U#{au,/dQCBBEe1Ty53(' );

/**#@-*/

/**
 * Prefixo da tabela do banco de dados do WordPress.
 *
 * Você pode ter várias instalações em um único banco de dados se você der
 * um prefixo único para cada um. Somente números, letras e sublinhados!
 */
$table_prefix = 'wp_';

/**
 * Para desenvolvedores: Modo de debug do WordPress.
 *
 * Altere isto para true para ativar a exibição de avisos
 * durante o desenvolvimento. É altamente recomendável que os
 * desenvolvedores de plugins e temas usem o WP_DEBUG
 * em seus ambientes de desenvolvimento.
 *
 * Para informações sobre outras constantes que podem ser utilizadas
 * para depuração, visite o Codex.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* Adicione valores personalizados entre esta linha até "Isto é tudo". */



/* Isto é tudo, pode parar de editar! :) */

/** Caminho absoluto para o diretório WordPress. */
if ( ! defined( 'ABSPATH' ) ) {
        define( 'ABSPATH', __DIR__ . '/' );
}

/** Configura as variáveis e arquivos do WordPress. */
require_once ABSPATH . 'wp-settings.php';